<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/hire-bus"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-xl="6" offset-xl="3" class="ion-padding-horizontal">
        <div>
          <ion-title class="ion-no-padding dark">Hire A Bus</ion-title>
          <div class="from-to-form mt-2">
            <ion-item lines="none">
              <ion-label class="medium">From : </ion-label>
              <ion-input placeholder="Your Location"></ion-input>
            </ion-item>

            <div class="divider my-1"></div>
            <ion-item lines="none">
              <ion-label class="medium">To : </ion-label>
              <ion-input placeholder="Destination"></ion-input>
            </ion-item>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
