<ion-header class="ion-no-border">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-xl="6" offset-xl="3">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="returnBack(previousRoute)">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title class="ion-no-padding">Travel History</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<div class="ion-text-center" *ngIf="isLoading">
  <ion-spinner color="primary" name="dots"></ion-spinner>
</div>
<ion-content *ngIf="!isLoading && error.isError">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-error
          [icon]="error.icon"
          [title]="error.title"
          [msg]="error.message"
  ></app-error>
</ion-content>
<ion-content *ngIf="!isLoading && !error.isError">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-xl="6" offset-xl="3" *ngIf="customerReservations && customerReservations.length < 1">
        <div class="empty-holder">
          <ion-card>
            <ion-card-content>
              <ion-icon name="water-outline" color="primary" class="icon"></ion-icon>
              <h3>Empty Request</h3>
              <ion-note>You have not made any pickup request yet. click the blue button below to make one</ion-note>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="12" size-xl="6" offset-xl="3" *ngIf="customerReservations && customerReservations.length > 0">
        <ion-list class="ion-no-padding">
          <ion-item *ngFor="let reservation of customerReservations" lines="none" button detail="" [routerLink]="['/','list-booking',reservation.id]">
            <ion-avatar slot="start">
              <img src="../../../assets/img/seat-blue.png">
            </ion-avatar>
            <ion-label class="d-flex ion-align-items-center ion-justify-content-between">
              <div>
                <h3><span class="primary mr-1">From</span>{{ reservation.pmtRoute.name.split('=>')[0] }}</h3>
                <h3><span class="primary mr-1">To</span>{{ reservation.pmtRoute.name.split('=>')[1] }}</h3>
                <span class="pickedUp bold">SEAT NO {{ reservation.seatPositions }}</span>
                <p class="booking-date">Booked on <ion-text>{{ reservation.createdAt | date }}</ion-text></p>
              </div>
              <span class="amount">₦{{ reservation.amount }}</span>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
