<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" class="ion-no-margin">
      <ion-back-button slot="icon-only" [defaultHref]="'/home'"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding light">Tickets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!isLoading && error.isError">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-error
    [icon]="error.icon"
    [title]="error.title"
    [msg]="error.message"
  ></app-error>
</ion-content>
<ion-content class="ion-text-center" *ngIf="isLoading">
  <ion-spinner color="primary" name="dots"></ion-spinner>
</ion-content>
<ion-content *ngIf="!isLoading && !error.isError && tickets">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-xl="6" offset-xl="3" *ngIf="tickets.length < 1 && !error.isError && !isLoading">
        <div class="empty-holder">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <ion-icon name="water-outline" color="primary" class="icon"></ion-icon>
              <h3>Empty Request</h3>
              <ion-note>You have not created any tickets yet. Click the button below to create one</ion-note>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col *ngFor="let tickets of tickets" size="12" size-xl="6" offset-xl="3">
        <ion-card class="py-0" (click)="showDetails(tickets)">
          <ion-card-header color="light" class="px-0 py-1">
            <div class="my-0 ion-padding-horizontal py-1 ion-text-right d-flex ion-justify-content-between">
              <small
                class="my-0 light priority d-flex ion-align-items-center ion-text-uppercase"
                [class.high]="tickets.priority === 'HIGH'"
                [class.low]="tickets.priority === 'LOW'"
                [class.normal]="tickets.priority === 'NORMAL'"
              >{{ tickets.priority }}</small>
              <p class="my-0 primary">{{ tickets.updatedAt | date }}</p>
            </div>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <div class="mt-2 mb-2">
              <h2 class="ion-padding-horizontal dark">{{ tickets.subject }}</h2>
              <p class="ion-padding-horizontal my-1 medium0" *ngIf="tickets.messages[0].length !== idSample.length">{{ tickets.messages[tickets.messages.length - 1].body | slice: 0: 99 }}<span *ngIf="tickets.messages[tickets.messages.length - 1].body.length > 99">...</span></p>
              <p class="ion-padding-horizontal my-0" *ngIf="tickets.officerReply">Ticket <span class="primary">Replied</span></p>
            </div>
            <div class="status-holder py-1 d-flex ion-align-items-center ion-justify-content-between">
              <p
                class="status solved my-0 ion-padding-horizontal"
                [class.secondary]="tickets.status === 'PENDING'"
                [class.primary]="tickets.status === 'OPEN'"
                [class.dark]="tickets.status === 'CLOSED'"
              >{{ tickets.status }}</p>
              <div class="ion-padding-horizontal" *ngIf="tickets.messages[0].length !== idSample.length">Assigned to <span class="primary">{{ tickets.messages[tickets.messages.length - 1].sender | titlecase }}</span></div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- fab placed to the bottom start -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="createTicket()">
  <ion-fab-button>
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>