<ion-header class="ion-no-shadow ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="returnBack()">
        <ion-icon name="chevron-back-outline" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="type === 'edit-name' && !isLoading">
  <form [formGroup]="editName">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <h2 color="primary">What would you like us to call you?</h2>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-list class="ion-no-padding">
            <ion-item color="light" lines="none">
              <ion-label position="floating" color="primary">Surname</ion-label>
              <ion-input type="text" formControlName="surname"></ion-input>
            </ion-item>
            <ion-item color="light" lines="none">
              <ion-label position="floating" color="primary">Other Name</ion-label>
              <ion-input type="text" formControlName="otherName"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-button shape="round" expand="full" size="large" (click)="updateBtn()">UPDATE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-content *ngIf="type === 'edit-email' && !isLoading">
  <form [formGroup]="editEmail">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <h2 color="primary">What email would you like to change to?</h2>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-list class="ion-no-padding">
            <ion-item color="light" lines="none">
              <ion-label position="floating" color="primary">Email address</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-button shape="round" expand="full" size="large" (click)="updateBtn()">UPDATE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-content *ngIf="type === 'mobile-phone' && !isLoading">
  <form [formGroup]="editMobile">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <h2 color="primary">What phone number would you like to change to?</h2>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-list class="ion-no-padding">
            <ion-item color="light" lines="none">
              <ion-label position="floating" color="primary">Mobile Number</ion-label>
              <ion-input type="text" formControlName="mobile"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-button shape="round" expand="full" size="large" (click)="updateBtn()">UPDATE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-content *ngIf="type === 'home-phone' && !isLoading">
  <form [formGroup]="editHome">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <h2 color="primary">You can update your home phone number here.</h2>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-list class="ion-no-padding">
            <ion-item color="light" lines="none">
              <ion-label position="floating" color="primary">Home Phone Number</ion-label>
              <ion-input type="text" formControlName="home"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-button shape="round" expand="full" size="large" (click)="updateBtn()">UPDATE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-content *ngIf="type === 'contact-person' && !isLoading">
  <form [formGroup]="editContactPerson">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <h2 color="primary">You can update your contact person details.</h2>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-list class="ion-no-padding">
            <ion-item color="light" lines="none">
              <ion-label position="floating" color="primary">Contact Person</ion-label>
              <ion-input type="text" formControlName="contactPerson"></ion-input>
            </ion-item>
            <ion-item color="light" lines="none">
              <ion-label position="floating" color="primary">Contact Person Phone</ion-label>
              <ion-input type="tel" formControlName="contactPersonPhone"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-xl="6" offset-xl="3">
          <ion-button shape="round" expand="full" size="large" (click)="updateBtn()">UPDATE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
