<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-xl="6" offset-xl="3">
        <ion-header [translucent]="true" class="ion-no-border">
          <ion-toolbar>
            <div class="header">
              <img class="logo" src="../../../assets/icon/logo.png" />
              <h3>PMT<span> Partners</span></h3>
            </div>
            <div class="greeting">
              <div class="card">
                <h2 class="ion-no-padding">Welcome <span class="name"><strong>Joel</strong></span></h2>
                <p>Happy to have you</p>
              </div>
            </div>
          </ion-toolbar>
        </ion-header>
        <div class="content">
          <div class="menu">
            <ion-card class="ion-no-margin" button [routerLink]="['/', 'book']">
              <ion-card-content class="ion-padding-horizontal">
                <img src ="../../../assets/icon/book-a-seat.png">
                <h4>Book a Seat</h4>
              </ion-card-content>
            </ion-card>

            <ion-card class="ion-no-margin" button [routerLink]="['/', 'list-booking']">
              <ion-card-content class="ion-padding-horizontal">
                <img src ="../../../assets/icon/travel-history.png">
                <h4>Travel History</h4>
              </ion-card-content>
            </ion-card>

            <ion-card class="ion-no-margin" button>
              <ion-card-content class="ion-padding-horizontal">
                <img src ="../../../assets/icon/pick-me-up.png">
                <h4>Pick me up</h4>
              </ion-card-content>
            </ion-card>

            <ion-card class="ion-no-margin" button>
              <ion-card-content class="ion-padding-horizontal">
                <img src ="../../../assets/icon/msg.png">
                <h4>Messages</h4>
              </ion-card-content>
            </ion-card>

            <ion-card class="ion-no-margin" button>
              <ion-card-content class="ion-padding-horizontal">
                <img src ="../../../assets/icon/tickets.png">
                <h4>Tickets</h4>
              </ion-card-content>
            </ion-card>

            <ion-card class="ion-no-margin" button [routerLink]="['/', 'profile']">
              <ion-card-content class="ion-padding-horizontal">
                <img src ="../../../assets/icon/profile.png">
                <h4>Profile</h4>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
