<ion-content *ngIf="!isLoading">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" size-xl="6" offset-xl="3">
        <ion-header [translucent]="true" class="ion-no-border">
          <ion-toolbar>
            <div class="header">
              <img class="logo" src="../../../assets/icon/logo.png" />
              <h3>PMT<span> Partners</span></h3>
            </div>
            <div class="greeting">
              <div class="card">
                <h2 class="ion-no-padding light mt-2">Welcome</h2>
                <p class="mt-1 name"><span class="name"><strong>{{ user.otherName }}  {{ user.surname }}</strong></span></p>
              </div>
            </div>
          </ion-toolbar>
        </ion-header>
        <div class="content">
          <div class="menu">
            <ion-card *ngFor="let menu of appMenus" class="ion-no-margin" button [routerLink]="['/', menu.route]">
              <ion-card-content class="ion-padding-horizontal">
                <img src ="../../../assets/icon/{{menu.icon}}">
                <h4 class="medium">{{ menu.name }}</h4>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
