/*****************************************************************************************
******************************************MD**********************************************
******************************************************************************************/
ion-header {
    position: sticky !important;
    top: 0;
    background-image: url('../../../assets/img/bg.png');
    background-size: 100% 100%;
    min-height: 40vh;
    z-index: 0;

    .logo {
        height: 20px;
    }

    .header {
        display: flex;
        padding:10px 20px;
        align-items: center;
    }
  
    h3 {
      color: var(--ion-color-light);
      font-weight: bolder;
      padding:0 5px;
      margin:0;
    }

    .greeting {
        padding:0 20px;
    }

    .name {
      font-size: 20px;
      color: var(--ion-color-light);
    }
}

.content {
    height: 60vh;
    padding: 20px 20px 0 20px;
    z-index: 1;

    .menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ion-card {
        --background: var(--ion-color-light);
        margin-bottom: 5%;
        width: 30%;
        height: 100px;
        box-shadow: none;
        outline: none;
    
        ion-card-content:hover {
          cursor: pointer;
        }
    
        ion-card-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
    
    }

    img {
        margin: 0 0 5px 0;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

/*****************************************************************************************
******************************************IOS*********************************************
******************************************************************************************/
