.header {
  background-color: var(--ion-color-primary);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  .header-title-holder {
    background-color: var(--ion-color-primary);
    display: flex;
    position: sticky;
    top: 0;
  }
}

.icon {
  font-size: 50px !important;;
}

.header-segment {
  background-color: var(--ion-color-light);
}

.header-img {
  display: flex;
  justify-content: center;
  background-color: var(--ion-color-light);
  min-height: 50px;

  img {
    width: 210px;
    height: 210px;
  }
}

h2 {
  color: var(--ion-color-primary);
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  margin-top: 6px;
}

ion-list {
  background-color: var(--ion-color-light);
}

.pickup {
  ion-item {
    border: 1px solid var(--ion-color-dark);
  }
}

ion-item {
  border: 1px solid var(--ion-color-primary);
  border-radius: 5px;
  margin-bottom: 1em;
}

ion-button {
  height: 50px;
}

.pick-btn-holder {
  flex-direction: column;
}

.pick-location-btn {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  flex-direction: column;
  background-color: var(--ion-color-primary);
  ion-icon {
    font-size: 60px;
  }
}