<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item button lines="full" color="light" (click)="editProfile()">
      <ion-icon class="ion-no-margin sm-icon" name="settings-outline" slot="start" color="medium"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-text class="my-0" color="dark">Settings</ion-text>
    </ion-item>
    <ion-item button lines="full" color="light" (click)="logout()">
      <ion-icon class="ion-no-margin sm-icon" name="log-out-outline" slot="start" color="primary"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-text class="my-0" color="dark">Logout</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
