<ion-header class="ion-no-shadow ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="returnBack()">
        <ion-icon name="chevron-back-outline" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetForm">
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="isForgot" size="12" class="d-flex ion-justify-content-center ion-padding-vertical ion-margin-vertical">
          <ion-avatar>
            <img src ="../../../assets/icon/logo-blue.png">
          </ion-avatar>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <h2 *ngIf="!isForgot">You can reset your old password here</h2>
          <h2 *ngIf="isForgot">Reset You Password Now.</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-lg="6" offset-lg="3">
          <ion-list class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="floating" color="primary">New Password</ion-label>
              <ion-input formControlName="password1" type="password"></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating" color="primary">Confirm Password</ion-label>
              <ion-input type="password" formControlName="password2"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-lg="6" offset-lg="3">
          <div class="login-holder ion-text-center">
            <ion-button (click)="login()" size="default" expand="full" shape="round" class="ion-margin-vertical">Reset Password</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
