:host {
  background: #fff;
}

ion-toolbar, ion-content {
  --background: #fff;
}

.d-flex {
  display: flex;
}

ion-list, .list-md, ion-item {
  --background: #fff;
  background: #fff;
}

h2 {
  color: var(--ion-color-primary);
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  margin-top: 6px;
}

.login-holder {
  ion-button {
    height: 45px;
    font-weight: bold;
    margin-top: 6px;
  }
}

ion-item {
  margin:0px 0px 2em 0px;
  border: 1px solid var(--ion-color-primary);
  border-radius: 5px;

  ion-input {
    color: var(--ion-color-medium);
  }
}
